    /*
    Flaticon icon font: Flaticon
    Creation date: 30/10/2017 07:39
    */

    @font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

    .fi:before{
        display: inline-block;
  font-family: "Flaticon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
    }

    .flaticon-technology-1:before { content: "\f100"; }
.flaticon-graphic:before { content: "\f101"; }
.flaticon-business-1:before { content: "\f102"; }
.flaticon-word-document:before { content: "\f103"; }
.flaticon-pdf-file:before { content: "\f104"; }
.flaticon-magnifier:before { content: "\f105"; }
.flaticon-minus-symbol:before { content: "\f106"; }
.flaticon-plus-symbol:before { content: "\f107"; }
.flaticon-transport:before { content: "\f108"; }
.flaticon-medical:before { content: "\f109"; }
.flaticon-factory:before { content: "\f10a"; }
.flaticon-money:before { content: "\f10b"; }
.flaticon-luxury:before { content: "\f10c"; }
.flaticon-arrow:before { content: "\f10d"; }
.flaticon-people:before { content: "\f10e"; }
.flaticon-interface:before { content: "\f10f"; }
.flaticon-operator:before { content: "\f110"; }
.flaticon-ticket:before { content: "\f111"; }
.flaticon-stats:before { content: "\f112"; }
.flaticon-target:before { content: "\f113"; }
.flaticon-professional-profile-with-image:before { content: "\f114"; }
.flaticon-business:before { content: "\f115"; }
.flaticon-pen:before { content: "\f116"; }
.flaticon-gps:before { content: "\f117"; }
.flaticon-multimedia-1:before { content: "\f118"; }
.flaticon-technology:before { content: "\f119"; }
.flaticon-multimedia:before { content: "\f11a"; }
    
    $font-Flaticon-technology-1: "\f100";
    $font-Flaticon-graphic: "\f101";
    $font-Flaticon-business-1: "\f102";
    $font-Flaticon-word-document: "\f103";
    $font-Flaticon-pdf-file: "\f104";
    $font-Flaticon-magnifier: "\f105";
    $font-Flaticon-minus-symbol: "\f106";
    $font-Flaticon-plus-symbol: "\f107";
    $font-Flaticon-transport: "\f108";
    $font-Flaticon-medical: "\f109";
    $font-Flaticon-factory: "\f10a";
    $font-Flaticon-money: "\f10b";
    $font-Flaticon-luxury: "\f10c";
    $font-Flaticon-arrow: "\f10d";
    $font-Flaticon-people: "\f10e";
    $font-Flaticon-interface: "\f10f";
    $font-Flaticon-operator: "\f110";
    $font-Flaticon-ticket: "\f111";
    $font-Flaticon-stats: "\f112";
    $font-Flaticon-target: "\f113";
    $font-Flaticon-professional-profile-with-image: "\f114";
    $font-Flaticon-business: "\f115";
    $font-Flaticon-pen: "\f116";
    $font-Flaticon-gps: "\f117";
    $font-Flaticon-multimedia-1: "\f118";
    $font-Flaticon-technology: "\f119";
    $font-Flaticon-multimedia: "\f11a";